name: Daily Update

on:
  schedule:
    - cron: '19 */24 * * *'  # Setiap hari jam 00:19 WITA
  workflow_dispatch:

jobs:
  update-file:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Update file
        run: |
          export TZ="Asia/Makassar"  # Mengatur zona waktu ke Asia/Makassar (WITA)
          TIMESTAMP=$(date +"%Y-%m-%d %H:%M:%S %Z")  # Mendapatkan timestamp dalam format yang diinginkan (WITA)
          echo "Last updated: $TIMESTAMP" > update.md  # Perbarui atau buat README.md dengan timestamp WITA
          # echo "Last update: $(date -u)" > update.md

      - name: Configure git
        run: |
          # git config --global user.name '${{ github.actor }}'
          # git config user.email 'andreyanugrahp@gmail.com'
          git config user.name 'AndreyAnugrahPutra'
          git config --global user.email '90980514+AndreyAnugrahPutra@users.noreply.github.com'
          
      - name: Commit dan Push
        run: |
            git add update.md
            git commit -m "Update otomatis" || echo "Tidak ada perubahan"
            
      - name: Push
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # git pull origin main --rebase
          git pull origin main
          git push origin main
