name: Daily Update

on:
  schedule:
    - cron: '19 16 * * *'  # Setiap hari jam 00:19 WITA
  workflow_dispatch:

jobs:
  update-file:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Update file
        run: |
          echo "Last update: $(date -u)" > update.md

      - name: Commit dan Push
        run: |
          git config --global user.name 'github-actions'
          git config --global user.email 'github-actions@users.noreply.github.com'
          git add update.md
          git commit -m "Update otomatis: $(date -u)" || echo "Tidak ada perubahan"
          git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }} HEAD:main

